* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1a1a1a !important;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

form {
    margin-top: 40px;
}

.form-fow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.kodex-point {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 0 solid transparent;
    border-top: 25px solid #FFFFFF;
    text-align: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-image {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.title {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    color: #C0BDBD;
    font-size: 20px;
    text-align: center;
}

.container-row {
    padding: 20px;
    width: 100%;
    display: flex;

    @media screen and (max-width: 950px) {
        display: block;
    }
}

.content-roullete {
    text-align: center;
}

.content-form {
    padding: 20px;
}

.container-footer {
    position: fixed;
    bottom: 0px;
    @media screen and (max-width: 950px) {
        position: relative;
    }
}

.container-footer > a {
    cursor: pointer
}

.kodex-logo {
    width: 120px;
    padding: 20px;
}

#container-alert {
    width: 500px;
    margin: 0 auto;
}