* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

body {
    background: #1a1a1a;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    /* display: none; */

}


#kodex-pointer {
    fill: rgb(13, 89, 0)!important
}


.logo path {
    fill: rgb(13, 89, 0)!important;
    background: blue
}



.form-fow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.kodex-point {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 0 solid transparent;
    border-top: 25px solid #FFFFFF;
    text-align: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotate(90deg);
}

.container-image {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.kodex-content-form-title {
    color: white;
    margin-bottom: 40px;
    font-size: 32px;
    font-family: "Quicksand", sans-serif;
    text-align: center;

}

.kodex-content-form-subtitle {
    color: #C0BDBD;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.kodex-container-row {
    padding: 40px;
    width: 100%;
    display: flex;
}

.kodex-form-row {
    transform: rotate(265deg);
    position: relative;
    top: 20px;
}

.kodex-content-roullete {
    text-align: center;
    position: relative;
}

.kodex-content-form {
    padding: 45px 80px;
    margin: 0 auto;
    width: 500px;
}

.kodex-container-footer {
    position: fixed;
    bottom: 0px;
}

.kodex-container-footer > a {
    cursor: pointer
}

.kodex-logo {
    width: 120px;
    padding: 20px;
}

#container-alert {
    width: 500px;
    margin: 0 auto;
}

.container-input {
    margin: 10px 0;
}

.container-input > p {
    display: none;
}

input {
    width: 100%;
    padding: 0 10px 0;
    font-size: 16px;
    color: #666;
    background-color: #fff;
    border-radius: 6px;
    height: 56px;
    border: solid 1px rgba(0, 0, 0, .5);
}

.input-not-valid {
    border: 2px solid #ea868f;
}

input:focus-visible {
    outline: none;
}

.message-invalid {
    display: block !important;
    color: #ea868f;
    font-size: 14px;
    margin-top: 5px;
}

.kodex-lead-invalid {
    display: block !important;
    color: #ea868f;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.kodex-button-submit {
    background-color: #1a1a1a;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 28px;
    height: 56px;
    box-shadow: rgba(0, 0, 0, 0.298) 0px 4px 1px 0px, rgba(0, 0, 0, 0.2) 0px 5px 15px 0px, #333 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 2px 0px 0px inset;
    font-family: "Quicksand", sans-serif;
}


.kodex-container-button-submit {
    margin: 10px 0;
}

.container-win {
    align-content: center;
    padding: 100px;
}

.container-button-try-again {
    margin: 20px 0px;
}

@media screen and (max-width: 950px) {
    .kodex-container-row {
        display: block;
    }
    .kodex-container-footer {
        position: relative;
    }
    .kodex-content-form {
        width: 100%;
    }
    .kodex-content-roullete {
        width: 100%;
    }
}

#page{
    display: none;
}
#loading{
    display: block;
    color: white
}

.kodex-content-result {
    align-content: center;
    padding: 30px;
}

.visibility {
    display: block;
}

.kodex-no-visibility {
    display: none;
}

.kodex-container {
    background: red;
    width: 200px;
    height: 200px;
}

.kodex-roullete {
    position: fixed;
    max-width: 1030px;
    height: 100%;
    /* background: red; */
    z-index: 1000;
    line-height: 1em;
    text-align: left;
    top: 0;
    left: 0;
    overflow-y: auto;
    user-select: none;
    overscroll-behavior: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.kodex-container-roullete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kodex-container-logo-roullete {
    position: absolute;
    background: #FFF;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 10px;
}

.kodex-container-logo-roullete-image {
    background: url('https://drive.google.com/thumbnail?id=1aaiYkhTl6BCmRU6_79tPC1cugYg2QwHh');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
